%table.table.table-bordered.table-striped.table-fixed-header{:id => "hotel"}
  %thead.header
    %tr
      %td Hotel
      %td Price
      %td Rating
      %td Assessement
  %tbody
  - @hotel.each do |hotel|
    %tr
      %td= link_to hotel.name, hotel
      %td= number_to_currency(hotel.price, unit: "руб.", separator: ",", delimiter: " ", format: "%n %u")
      %td= hotel.rating
      %td= hotel.assessement
